body{
    background-color: #f5f5f5;
}
body::-webkit-scrollbar {
    display: none;
}
#history{
    width: 900px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 40px;
}

.historyText{
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}
.historyButton input{
    height: 35px;
    width: 85px;
    margin-left: 15px;
}
#historyBody{
    margin-top: 50px;
    padding-inline-start: 0;
}
.historyLi{
    list-style: none;
    margin-top: 25px;
}
.historyLi img{
    width: 120px;
    height: 160px;
    border-radius:4px;
}
.historyDiv {
    height: 160px;
    width: 800px;
}
.historyImg{
    display: inline-block;
    width: 150px;
}
.historyInfo{
    position: absolute;
    margin-top: 0px;
    height: 160px;
    width: 600px;
    display: inline-block;
}
.historyName span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.historyActor{
    margin: 20px;
}
.historyActor span{
    font-size: 14px;
    color:black;
}
.historyTime{
    float: left;
    margin-left: 20px
}
.historyTime span{
    font-size: 14px;
    color: black;
}
.historyInput{
    height: 160px;
    width: 50px;
    display: inline-block;
    float: right;
}
.hr{
    border:0px;
    border-bottom:1px solid rgba(47, 47, 30, 0.27);
    display: none;
}
.historyChoose{
    width: 15px;
    height: 15px;
    float: right;
    display: none;
}
._page_container ._pages {
    display: inline-block;
    padding-bottom: 100px;
}