a{
    text-decoration: none;
    color: #0f0f0f;
    font-size: 14px;
    cursor: pointer;
}
a:link{
    color: #0f0f0f;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #b92c28;
    text-decoration: none;
    cursor: pointer;
}
.checked{
    height: 35px;
}
.form-control{
    border:1px solid #e2e2e2;
    box-shadow: none;
    border-top:none ;
    border-left: none ;
    border-right: none ;
}
.checked-1{
    margin-top: 20px;
}
.checked-2{
    margin-top: 50px;
}
.a_reg{
    display: block;
    text-align: right;
    font-size: 14px;
    color: #5FB3F6;
}
.a_log{
    display: block;
    text-align: right;
    font-size: 14px;
    color: #000000;
}
.row-info{
    margin-top: 100px;
    text-align: center;
}
.info-center{
    display:inline-block;
    float:none;
    text-align:left;
    margin-top:100px;
    width: 1000px;
}
input,button:active{
    outline: none;
}
input:focus{outline: none;border: 1px solid white;}
button:focus{outline: none;border: 1px solid white;}